/* Background pattern from Toptal Subtle Patterns */



body {
    background-image: url('../images/pink\ dust.png');
}

#quiz-container {
padding-top: 75px;
height: 100%;
width: 75%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    background: rgb(39, 38, 39, 0.5);
    color: rgb(165, 132, 134);
}

#start, #next, #restart {
    margin-top: 5%;
    background: rgb(165, 132, 134);
border: none;
color: rgb(39, 38, 39);
}


#question {
    color:  rgb(165, 132, 134);
    padding: auto;
    text-align: center;
    margin: auto;
}


#gif {
    margin: 5%;
}